{% extends "base.html" %}
{% block title %}{% endblock %}
{% block key_words %}{% endblock %}
{% block description %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6">

    <div class="row">
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item active">
            <h4 class="list-group-item-heading"><h2 class="text-center">Luis Todd Morelli</h2></h4>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Born</h4>
            <p class="list-group-item-text">11/11/1976</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Gender</h4>
            <p class="list-group-item-text">Male</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Race</h4>
            <p class="list-group-item-text">White</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">First Name</h4>
            <p class="list-group-item-text">Luis</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Last Name</h4>
            <p class="list-group-item-text">Morelli</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Middle Name</h4>
            <p class="list-group-item-text">Todd</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Phone Number</h4>
            <p class="list-group-item-text">(805) 284-5564</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Email</h4>
            <p class="list-group-item-text">-</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Facebook Account</h4>
            <p class="list-group-item-text"><a href="https://www.facebook.com/todd.morelli">https://www.facebook.com/todd.morelli</a></p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Linkedin Account</h4>
            <p class="list-group-item-text"><a href="https://www.linkedin.com/in/l-todd-morelli-946a513">https://www.linkedin.com/in/l-todd-morelli-946a513</a></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12" style="margin-bottom: 10px;">
        <div id="map"></div>
        <script>
        function initMap() {
          var uluru = {lat: -25.363, lng: 131.044};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
        </script>
      </div>
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item active">
            <h4 class="list-group-item-heading"><h3 class="text-center">642 Vintage Reserve Cir Naples FL 34119</h3></h4>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Address</h4>
            <p class="list-group-item-text">642 Vintage Reserve Cir Apt. B</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">State</h4>
            <p class="list-group-item-text">Florida</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">City</h4>
            <p class="list-group-item-text">Naples</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Zip Code</h4>
            <p class="list-group-item-text">34119</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Country</h4>
            <p class="list-group-item-text">US</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
